@import "../../variables.scss";

.admin__side-pannel {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  height: 100%;
  border-radius: 6px;

  &__menu-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;

    &__item {
      &:first-child {
        border-radius: 6px 6px 0 0;
      }

      &:nth-child(4) {
        margin-top: auto;
      }

      &:last-child {
        border-radius: 0 0 6px 6px;
      }

      &:hover {
        background-color: $gray;
      }

      a,
      button {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        box-sizing: border-box;

        svg {
          padding: 1px 0;
        }

        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet--vertical) {
  .admin__side-pannel {
    &__menu-list {
      &__item {
        a,
        button {
          padding: 1.5rem 3.5rem 1.5rem 1.5rem;

          span {
            display: inline;
          }
        }
      }
    }
  }
}
