.admin__layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  background-color: #eff3f8;

  &__dashboard {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    padding: 1.25rem 2rem;
    margin: 0 auto;
    box-sizing: border-box;

    &__side-pannel {
      width: 100%;
      max-width: 200px;
      height: 100%;
      background-color: #ffffff;
    }

    &__main-pannel {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      background-color: #ffffff;
    }

    &__welcome-pannel {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      height: 100%;
      padding: 7.5rem 0;
      background-color: unset;
      box-shadow: unset;

      &__card {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 3rem 4rem;
        max-width: 600px;
        border-radius: 6px;
        box-shadow: 0 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.07),
          0 0.25rem 2rem 0 rgba(0, 0, 0, 0.03);

        &__header {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding-bottom: 4.5rem;

          &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.5rem;

            > h1 {
              font-size: 3rem;
              font-weight: 600;
            }
          }

          &__sub-title {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            p {
              line-height: 2.5rem;
            }
          }
        }

        &__body {
          &__guide {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 4.5rem 0;
            border-top: 1px solid #000000;

            &__step {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1.5rem;

              & > div > p {
                padding: 4px 10px;
                font-size: 1.6rem;
                font-weight: 600;
                border-radius: 50%;
                color: #ffffff;
                background-color: #000000;

                > span {
                  display: none;
                }
              }

              > p {
                line-height: 2.5rem;
              }
            }
          }

          &__form {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding-top: 4.5rem;
            border-top: 1px solid #000000;
          }
        }
      }
    }
  }
}
