@import "./variables.scss";

.dashboard__layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  background-color: $gray--light;

  &__content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    padding: 1.25rem 2rem;
    margin: 0 auto;
    box-sizing: border-box;

    &__side-pannel {
      width: 100%;
      max-width: 200px;
      height: 100%;
      background-color: $white;
    }

    &__main-pannel {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      background-color: $white;
    }

    &__welcome-pannel {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      height: 100%;
      padding: 7.5rem 0;
      background-color: unset;
    }
  }
}
