$primary: #d9d9d9;
$secondary: #000000;

$primary--reverse: #000000;
$secondary--reverse: #ffffff;

$white: #ffffff;
$black: #000000;

$gray: #d9d9d9;
$gray--light: #eff3f8;
$gray--dark: #565656;

$error: #e63946;
$warning: #f1c40f;
$success: #07bc0c;
$info: #3498db;

$box-shadow: 0 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.07),
  0 0.25rem 2rem 0 rgba(0, 0, 0, 0.03);

$smarphone: 480px;
$tablet--vertical: 768px;
$tablet--horizontal: 1024px;
$laptop: 1280px;
