.admin__form__integration-key {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__key-field {
    max-width: 500px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
}
