@import "../../globals.scss";

.link {
  &--button {
    padding: 0.8rem 1.6rem;
    border-radius: 3px;
  }

  &--gray {
    background-color: $gray;
    color: $black;
  }

  &--black {
    background-color: $black;
    color: $white;
  }
}
