@import "../../variables.scss";

.admin__integration-key-card__body {
  max-width: 600px;

  &--admin {
    max-width: unset;
  }

  &__guide {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $black;

    &__step {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;

      & > div > p {
        padding: 4px 10px;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 50%;
        color: $white;
        background-color: $black;

        > span {
          display: none;
        }
      }

      > p {
        line-height: 2.5rem;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 2.5rem;

    &__error {
      line-height: 2.5rem;
      color: $error;

      &--welcome {
        text-align: center;
      }
    }
  }
}
