@import "../../variables.scss";

.admin__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 3px;
  background: none;
  box-shadow: none;
  color: inherit;
  font: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: inherit;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &--primary {
    background-color: $primary;
    color: $primary--reverse;
  }

  &--secondary {
    background-color: $secondary;
    color: $secondary--reverse;
  }

  &--invisible {
    color: $black;
  }
}
