.web__sign-up {
  &__hero {
    margin-top: -9rem;
    padding-top: 25rem !important;
    gap: 4rem;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
      padding: 4rem 3rem;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 0 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.07),
        0 0.25rem 2rem 0 rgba(0, 0, 0, 0.03);

      > * {
        width: 100%;
      }

      > h1 {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
      }

      > p {
        text-align: center;
      }

      &__user-data {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
        }

        &__name-email {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }

      &__prodivers {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: 3rem;
        border-top: 1px solid #000000;
      }
    }
  }
}

// TODO: use media variables;
@media screen and (min-width: 480px) {
  .web__sign-up {
    &__hero {
      &__container {
        width: 300px;
      }
    }
  }
}
