@import "../../../globals.scss";

.admin__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  &--inline {
    display: inline;
    flex-direction: unset;
    align-items: unset;
    justify-content: unset;
    gap: unset;
    text-decoration: underline;
  }

  &--button {
    padding: 0.8rem 1.6rem;
    border-radius: 3px;
  }

  &--gray {
    background-color: $gray;
    color: $black;
  }

  &--black {
    background-color: $black;
    color: $white;
  }
}
