@import "../../variables.scss";

.admin__page-table__body {
  &__table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin-top: 3rem;

    &__head {
      &__row {
        &__item {
          text-align: left;
          padding-bottom: 1.5rem;

          p {
            font-weight: 700;
          }

          &--date {
            display: none;
          }

          &--actions {
            width: 100px;
            text-align: right;
          }
        }
      }
    }

    &__body {
      &__row {
        border-top: 1px solid $gray;

        &__item {
          padding: 1rem 0;

          &--title {
            p {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          &--date {
            display: none;
          }

          &--actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 0.5rem;
            width: 100px;

            button {
              padding: 0;
            }
          }
        }

        &:last-child {
          td {
            padding: 1rem 0 0 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tablet--horizontal) {
  .admin__page-table__body {
    &__table {
      &__head {
        &__row {
          &__item {
            &--date {
              display: table-cell;
              text-align: right;
              width: 200px;
            }
          }
        }
      }

      &__body {
        &__row {
          &__item {
            &--date {
              display: table-cell;
              text-align: right;
              width: 200px;
            }
          }
        }
      }
    }
  }
}
