// TO MOVE
html {
  font-size: 62.5%;
}

.typo {
  &--heading_1 {
    font-size: 3.6rem;
  }

  &--heading_2 {
    font-size: 3rem;
  }

  &--heading_3 {
    font-size: 2.4rem;
  }

  &--heading_4 {
    font-size: 2rem;
  }

  &--heading_5 {
    font-size: 1.8rem;
  }

  &--heading_6 {
    font-size: 1.6rem;
  }

  &--paragraph {
    font-size: 1.6rem;
  }

  &--numbered_list_item,
  &--bulleted_list_item {
    font-size: 1.6rem;
  }
}
