@import "../../globals.scss";

.header {
  padding: 1.25rem 2rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
  box-sizing: border-box;
  container-type: inline-size;

  &__nav {
    &__brand {
      &__logo {
        a {
          width: max-content;
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
    }
  }
}
