@import "../../globals.scss";

.header {
  padding: 1.25rem 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    &__brand {
      &__logo {
        a {
          width: max-content;
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
    }

    &__user {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 1rem;

      p {
        font-size: 1.6rem;
      }
    }
  }
}
