@import "../../../variables.scss";

.admin__form__page {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__fields-wrapper {
    display: flex;
    gap: 3rem;

    &--horizontal {
      flex-direction: row;
    }

    &--vertical {
      flex-direction: column;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
}

@media screen and (min-width: $tablet--vertical) {
  .admin__form__page {
    &__fields-wrapper {
      flex-direction: row;
    }
  }
}
