.factory__typo {
  &--heading_1 {
    font-size: 3.6em;
  }

  &--heading_2 {
    font-size: 3em;
  }

  &--heading_3 {
    font-size: 2.4em;
  }

  &--heading_4 {
    font-size: 2em;
  }

  &--heading_5 {
    font-size: 1.8em;
  }

  &--heading_6 {
    font-size: 1.6em;
  }

  &--paragraph {
    font-size: 1.6em;
    line-height: 200%;
  }

  &--numbered_list_item,
  &--bulleted_list_item {
    font-size: 1.6em;
  }

  &--line-break {
    margin: 16px 0;
  }
}
