.callout {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  padding: 16px 16px 16px 12px;
  border-radius: 4px;
  background-color: #f1f1ef;
  box-sizing: border-box;

  &__icon {
    font-size: 1.6em;
  }

  &__content {
    margin: 0;
    font-size: 1.6em;
  }
}
